<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Simple Accounting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div>
	<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		
		</form>
	</div>
	
	<a th:href="@{/transactions}" class="btn btn-edit">Home</a>
	
	<h1>Incomes</h1>
    <table class="table table-striped">
		<tr>
		    <th>Title</th>
		    <th>Amount</th>
		    <th>Date</th>
		    <th>Type</th>		    
		</tr>  
		
    	<tr th:each = "income : ${incomes}">
    		<td th:text="${income.title}"></td>
    		<td th:text="${income.amount}"></td>
    		<td th:text="${income.date}"></td>
    		<td th:text="${income.type.name}"></td>
 			<td ><a th:href="@{/delete/{id}(id=${income.id})}" class="btn btn-danger">Delete</a></td>
 			<td ><a th:href="@{/edit/{id}(id=${income.id})}" class="btn btn-edit">Edit</a></td>    		
    	</tr>
     </table>
     	<p>Total incomes:</p>
     	<p th:text="${sum}"></p>
     	
	  	<a href="/add"  class="btn btn-success">Add Transaction</a>   
	 </div>
</body>
</html>